body{
    background-color: aqua;
}
#border{
    background-color: white;
    border: 5px groove black;
    border-radius: 20px;
    width: 400px;
    height: 300px;
    margin-left: 500px;
    margin-top: 200px;
}
#heading{
    color: red;
    font-size: 40px;
    display: inline-block;
    margin-left: 25px;
}
#login{
    width: 50px;
    height: 50px;
    border-radius: 200px;
    margin-left: 20px;
    margin-top: 5px;
}
#enter{
    margin-left: 100px;
    font-size: 10px;
}
#name{
    margin-left: 70px;
}
#namebox{
    padding: 0px 40px;
}
#name:hover{
    cursor: pointer;
}
#phonenumber{
    margin-left: 70px;
}
#phonenumber:hover{
    cursor: pointer;
}
#button{
    margin-left: 40px;
}
#submit{
    background-color: black;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 2px red ;
}
#reset{
    background-color: black;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 2px red ;
}
#submit:hover{
    background-color: aqua;
    color: black;
    cursor: wait;
}
#reset:hover{
    background-color: aqua;
    color: black;
    cursor: wait;
}